* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-style: thin;
  scroll-behavior: smooth;
  background-image: "../videos/backg.png";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  color: black;
  text-shadow: none;
}
@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro");
:root {
  --mainColor: #7aa9f3;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Roboto", sans-serif, "Lucida Sans Unicode", "Lucida Grande";
  fill: #1366eb;
  overflow-x: hidden;
  font-style: light;
}
/* PROJECTS ___________________________________*/
.allp {
  margin: 0;
  font-family: "Roboto", sans-serif, "Lucida Sans Unicode", "Lucida Grande";
  fill: #ff9800;
  overflow-x: hidden;
  font-style: light;
  font-size: 150%;
  line-height: 1.8rem;
}
.project1 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
  padding: 1rem;
  color: white;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  animation: fade-inA 2s;
  width: 100%;
}
@keyframes fade-inA {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.colA {
  padding: 0.7rem;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.colA img {
  padding: 1.1rem;
  max-width: 500px;
  max-height: 500px;
}
.colB {
  align-self: center;
}
.project1G {
  text-shadow: 0.1px 0.2px black;
  padding: 0.7rem;
  color: white;
  animation: fade-inA 2s;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
}
.colAG {
  padding: 0.7rem;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.colAG img {
  padding: 1.1rem;
  max-width: 500px;
  max-height: 500px;
}
.colBG {
  align-self: center;
}
.app {
  max-width: 700px;
  max-height: 700px;
}
a.back {
  background-color: rgba(22, 26, 31, 0.61);
}
.back {
  position: fixed;

  cursor: pointer;
  color: #fff;
  z-index: 999;
  padding: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  align-content: space-between;
  justify-content: flex-start;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}
.back a:hover {
  background-size: 4px 50px;
}
.protLink {
  color: white;
}
#ComintelliSketch {
  transform: rotate(180deg);
}
/*_______________________________________________*/
.fixedButton svg {
  z-index: 6;
  position: fixed;
  height: 2rem;
  width: 2rem;
  color: #fff;
  text-align: center;
  margin-top: 43%;
  margin-left: 97.5%;
  transform: scale(2);
  box-shadow: rgba(230, 229, 229, 0.308);

  transition: 0.2s;
  -webkit-transition: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}
.fixedButton svg:hover {
  cursor: pointer;
  filter: url(#id-of-your-filter);
  transform: scale(2.3);
  -webkit-transform: scale(2.3);
}
/* NAV BAR */
.topnav {
  padding: 0 2% 0 2%;
  display: flex;
  display: -webkit-flex;
  overflow-x: hidden;
  max-height: 250px;
  position: fixed;
  margin-left: 27%;
  margin-top: 0;
  z-index: 999;
}
/* Style the topnav links */
.topnav a {
  flex-direction: row nowrap;
  align-items: center;
  cursor: pointer;
  color: black;
  padding: 17px;
  font-weight: bold;
  text-decoration: none;
  align-content: space-between;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}

/* Change color on hover */
.topnav a:hover {
  background-size: 4px 50px;
}
/* Style the content */
.content {
  padding: 0.7rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
.content a {
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Style the contact */
.contact {
  text-align: center;
  padding: 0.7rem;
  color: white;
  animation: fade-inC 2s;
}
@keyframes fade-inC {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.linkimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.linkimg img {
  display: flex;
  height: 6rem;
  width: 6rem;
  max-height: 10rem;
  max-width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.linkimg img:hover {
  animation: linkimg 0.2s linear infinite;
  -moz-animation: linkimg 0.2s linear infinite;
  -webkit-animation: linkimg 0.2s linear infinite;
  -o-animation: linkimg img 0.2s linear infinite;
  animation-iteration-count: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes linkimg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Standard syntax */
@keyframes linkimg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.linkimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.linkimg img {
  display: flex;
  height: 5rem;
  width: 5rem;
  max-height: 10rem;
  max-width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.linkimg img:hover {
  animation: linkimg 0.25s;
  -moz-animation: linkimg 0.25s;
  -webkit-animation: linkimg 0.25s;
  -o-animation: linkimg img 0.25s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes linkimg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Standard syntax */
@keyframes linkimg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.intro-portfolio {
  font-size: 130%;
  text-shadow: 0.1px 0.2px black;
}
#porttitle{

text-align: center;

}

#textme{

  text-align: center;

}
/* Container for flexboxes */
.row {
  text-shadow: 0.1px 0.2px black;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: 720px;
  width: 100%;
}

/* Create equal columns that sits next to each other */
.column1 {
  padding: 0.7rem;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
}
/* Bild i vänster-column*/
.column1 img {
  padding: 0.7rem;
  height: 100%;
  width: 100%;
  max-width: 650px;
}
.column1 h1 {
  padding-left: 0.7rem;
}
/* Column to the right*/
.column2 {
  padding: 0.7rem;
  font-size: 160%;
  max-width: 50%;
  color: rgb(0, 0, 0);
}
/*About*/
/* Style the about me */

.about {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
  padding: 0.7rem;
  color: rgb(255, 255, 255);
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  flex-wrap: nowrap;
  animation: fade-inA 2s;
}
@keyframes fade-inA {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.columnA {
  padding: 0.7rem;
  display: flex;
}
.columnA img {
  padding: 1.1rem;
}
.columnA3 {
  padding: 0.7rem;
  font-size: 130%;
  width: 50%;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
}
.columnA2 {
  display: flex;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
}
.stats {
  list-style-type: none;
  padding: 1;
  max-width: 410px;
  box-sizing: border-box;
}
.skill1 {
  font-style: bold;
}
.skill2 {
  font-style: bold;
}
.skill3 {
  font-style: bold;
}
.skill4 {
  font-style: bold;
}
/*About*/
/* Style the footer */
.footer {
  display: flex;
  padding: 0.1rem;
  margin-bottom: 0px;
  color: white;
  font-size: 70%;
}
/* On screens that are 700px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1030px) {
  * {
    overflow-x: hidden !important;
  }
  body {
    width: 100% !important;
    overflow-x: hidden !important;
    font-size: -50%;
  }
  .row {
    flex-direction: column !important;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .column2 {
    width: 100% !important;
    line-height: 2rem;
    max-width: 100%;
  }
  .topnav {
    margin-left: 27%;
    margin-top: 0;
    position: fixed;
  }
  .about {
    flex-direction: column !important;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 2rem;
  }
  .column1 {
    padding: 0.7rem;
    margin-top: 4rem;
    overflow-y: hidden;
  }
  .columnA3 {
    width: 100%;
  }
  .columnA {
    width: 100%;
  }
  .columnA img {
    width: 100%;
    height: 100%;
  }
  .project1 {
    flex-direction: column !important;
    flex-wrap: nowrap;
    justify-content: space-around;
    line-height: 3rem;
    padding: 1rem;
  }
  .project1 img{

    min-width: 300px;
    max-width: 300px;

  }
  .colA {
    width: 100%;
  }
  .colA img {

    width: 100%;
    padding: none;
  }
  .colAG img {
 
    width: 100%;
    padding: none;
  }
  .colBG {

  line-height: 1.8rem;

  }
  h1 {
    line-height: 3rem;
    overflow-y: hidden;
  }
  .app {
    max-width: 330px;
  }
  .fixedButton {
    margin-left: 90%;
    background: none;
  }
  .container {
    margin: 6% 2% 6% 2%;
    animation: fade-in 2s;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      margin: 0 0 0;
    }
    to {
      opacity: 1;
      margin: 6% 2% 6% 2%;
    }
  }
}
@media screen and (max-width: 900px) {

html,body{
  font-size: 90%;
  max-width: 100vw;
  overflow-x: hidden !important;
  margin-left: 0;
}
.topnav{
  display: none;
 }
}
